## Multiple Linear Regression

* The response is a linear function of p predictors

<div style="font-size: 125%;">
$$Y = \beta_0 + \beta_1{X_1} + \beta_2{X_2} +...+\beta_p{X_p} $$
</div>

* $X_j$ is the jth predictor and $\beta_j$ is the average effect on Y of a one unit increase in $X_j$ holding all other predictors fixed
    
* Estimating Regression Coefficients
<div style="font-size: 125%;">
$$\hat{y} = \hat{b}_0 + \hat{b}_1{x_1} + \hat{b}_2{x_2} +...+ \hat{b}_p{x_p}$$
</div>
Minimize:
<div style="font-size: 125%;">
$$RSS = \sum^n_{i=1}(y_i - \hat{y}_i)^2 = \sum^n_{i=1}(y_i - \hat{b}_0 - \hat{b}_1{x_1} - \hat{b}_2{x_2} -...- \hat{b}_p{x_p})^2$$
</div>
![](MultiRegression.png)

### Matrix Formulation

* X is called the Design Matrix (1's in the first column for the intercept and the remaining columns are the predictors)  
* $\beta = (b_0,b_1,...b_n)$
* What $\beta$ minimizes the RSS, take the partial derivative of RSS with respect to $\beta$, set equal to 0 and solve. 

<div style="font-size: 125%;">
$$RSS(\beta) = (y-X\beta)^T(y-X\beta)$$
$$\frac{\partial{RSS}}{\partial{\beta}} = -2X^T(y-X\beta)$$
$$X^T(y-X\beta) = 0$$
$$X^Ty = X^TX\beta$$
$$\beta = (X^TX)^{-1}X^Ty$$
</div>
* Called the Normal Equation

* Which predictors explain the response?
    - Variable selection
        - How much does each predictor explain?
    - Try different models with different subsets of parameters
    - Various statistics can be use to pick the best model
        - e.g. adjusted R-squared
* Is there multicolinearity (i.e. are two or more predictors highly correlated)?

In [1]:
import numpy as np
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
# for later use. We discussed these in SimpleLinearRegression Notebook
def mse(y,yhat):
    return np.mean((y - yhat)**2)

def rmse(y,yhat):
    return np.sqrt(np.mean((y - yhat)**2))

### Boston Housing Data

https://www.kaggle.com/c/boston-housing  Go here and read the description befor moving on to next step of this lecture.

* Dependent Variable: medv

In [5]:
df = pd.read_csv("Boston.csv")
print(len(df.columns))
df.tail()

14

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

#### Check for missing data

In [6]:
np.sum(df.isnull()) # no missing data, if there is we will have to impute.

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
black      0
lstat      0
medv       0
dtype: int64

#### Convert to arrays

In [7]:
# Multiple Linear Regression with Boston housing data
X = df.loc[:, ["rm","lstat"]].values # take two columns
y = df.loc[:, "medv"].values # predictor is median house value

#### Split Data

In [8]:
# Splitting the dataset into the Training set and Test set, 70/30 split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1234)

In [9]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape
# X_train has 354 rows and 2 columns, X_test has 152 rows and 2 columns
# y_train has 354 rows and 1 column, y_test has 152 rows and 2 columns

((354, 2), (152, 2), (354,), (152,))

In [10]:
X_train[1:5,:]

array([[ 6.405, 10.63 ],
       [ 6.782, 25.79 ],
       [ 7.014, 14.79 ],
       [ 6.781,  7.67 ]])

Create model and fit to training data

In [11]:
# Fitting Multiple Linear Regression to the Training set
Model = LinearRegression()
Model.fit(X_train, y_train)
# So we train the model in training set

LinearRegression()

#### Predict the test data

In [12]:
# Predicting the Test set results
yhat = Model.predict(X_test)
yhat.shape
# yhat are the predicted values, y_test are the actual y vlaues

(152,)

In [13]:
print(f'Intercept: {Model.intercept_} Coefficients: {Model.coef_} R-squared: {Model.score(X,y)}')
# two coefficients for the two independent variables (multiple) 
# it is still linear with single intercept 
# $R^2$ is above 0.5, thus we can explain the variance, not necessarily a bad model

Intercept: 4.246073653272003 Coefficients: [ 4.31445987 -0.6987955 ] R-squared: 0.6362922266410826

In [14]:
print('RMSE: ',rmse(y_test,yhat))
# much better it seems, smaller values tell that the model fits better

RMSE:  5.245535113671993

### Categorical Predictor Variables
 
* Dummy coding, 2 levels
    - $x_i$ = 1 if ith subject is female
      $x_i$ = 0 if ith subject is male
    - $y_i = b_0 +  b_1x_i + \epsilon_i$
    - If y is average credit card balance then $b_0$ can be interpreted as the average credit card balance for males, $b_0 + b_1$ as the average credit card balance for females and $b_1$ as the average difference

* One hot encoding (also known as 1-of-k encoding
    - When more than two levels
    - Code each level a binary variable
        - if three levels then have three variable
* Dummy Variable Trap
    - When use one hot encoding, can determine one of the variable from the other k-1 variables therefore they will be highly correlated.
    - Eliminate one of the variables

### Carseats Data

* Dependent Variable: sales
* Independent Variables: Mixture of quantitative and qualitative (i.e. categorical)

In [67]:
# another example with categorical data 
import pandas as pd
df = pd.read_csv('Carseats.csv')
df.tail()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

#### Check for missing values

In [39]:
df.isnull().sum()
# no mising data

Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
dtype: int64

#### Transform variables to arrays

In [68]:
X = df.iloc[:, 1:].values # Matrix of just predictors
y = df.iloc[:, 0].values # Predict Sales
print(X)

[[138 73 11 ... 17 'Yes' 'Yes']
 [111 48 16 ... 10 'Yes' 'Yes']
 [113 35 10 ... 12 'Yes' 'Yes']
 ...
 [162 26 12 ... 18 'Yes' 'Yes']
 [100 79 7 ... 12 'Yes' 'Yes']
 [134 37 0 ... 16 'Yes' 'Yes']]

####  Encode categorical variables

In [73]:
# Encoding categorical data
 
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder = LabelEncoder()
X[:, 5] = labelencoder.fit_transform(X[:, 5])
X[:, 8] = labelencoder.fit_transform(X[:, 8])
X[:, 9] = labelencoder.fit_transform(X[:, 9])
onehotencoder = OneHotEncoder(categories = 'auto')
X  = onehotencoder.fit_transform(X).toarray()
X[0:5,:]

array([[1., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 1., 1., 0.]])

In [74]:
# Avoiding the Dummy Variable Trap
X = X[:, 1:]
X[0:5,:]

array([[0., 0., 1., ..., 0., 0., 1.],
       [0., 0., 1., ..., 0., 0., 1.],
       [0., 0., 1., ..., 0., 0., 1.],
       [0., 0., 1., ..., 0., 0., 1.],
       [0., 0., 1., ..., 1., 1., 0.]])

#### Split the data

In [75]:
# Splitting the dataset into the Training set and Test set

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1234)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((320, 5175), (80, 5175), (320,), (80,))

#### Create model and fit to training data

In [76]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

#### Predict test data

In [77]:
yhat = model.predict(X_test)
yhat.shape

(80,)

#### Results

In [78]:
print('Intercept: ',model.intercept_)
print('Coefficients:')

cols = ['shelve_good','shelve_med','CompPrice','Income','Advertising','Pop','Price','Age','Ed','Urban','US']

for i in zip(cols,np.round(model.coef_,5)):
    print(i)

Intercept:  13.298064064166315
Coefficients:
('shelve_good', 0.08868)
('shelve_med', 0.17802)
('CompPrice', -0.09074)
('Income', 0.18674)
('Advertising', -0.10454)
('Pop', -0.14374)
('Price', 0.14974)
('Age', -0.00972)
('Ed', -0.00954)
('Urban', 0.00082)
('US', -0.01467)

In [79]:
print("R-squared: ", model.score(X,y))

R-squared:  0.8240822210808583

In [80]:
print("RMSE" ,rmse(y_test,yhat))

RMSE 2.645322987696311

"The figures in this presentation are taken from "An Introduction to Statistical Learning, with applications in R"  (Springer, 2013) with permission from the authors: G. James, D. Witten,  T. Hastie and R. Tibshirani "